/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    /* Background image styling */
    background-image: url('https://cdn.discordapp.com/attachments/1190908512633626642/1196984690637295616/1308898.jpg?ex=65b99ddd&is=65a728dd&hm=ba7bccb5aa6b7d5129647b914d5ab1457328426be01f0363d39b8e50c8311a79&');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow-y: scroll;
    /* Flex container styling */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Set default text color to white */
    color: #fff;
}

/* Adjust margin for header */
header {
    margin-top: 50px;
}

/* Center icon styling */
.center-icon {
    max-width: 400px;
}

.center-icon img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Adjust image brightness, contrast, and saturation */
    filter: brightness(80%) contrast(120%) saturate(120%);
}

/* Sections with fade-in effect */
.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Common styling for sections */
.description-section,
.how-it-works-section,
.game-details-section,
.download-section {
    background-color: transparent;
    padding: 50px 20px;
    text-align: center;
}

/* Container styling for certain sections */
.description-container,
.download-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Adjust font size and margin for headings and paragraphs */
.description-section h1,
.how-it-works-section h2,
.game-details-section h2,
.download-section h2,
.download-section p,
.description-text {
    font-size: 2.8em;
    margin-bottom: 20px;
}

/* Adjust margin, padding, and font size for specific elements */
.game-details-section p,
.download-section button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.8em;
    background-color: transparent; /* Set button background color to transparent */
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Add animations and additional styles as needed */

/* Keyframe animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframe animation for pulse effect */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
